*{
    font-family: 'poppins', serif;
    margin: 0;
    padding: 0;
    background-color: #081b29;;
    box-sizing: border-box;
    color:#ededed;
}
h1{ 
    font-size: 50px;
    margin-top: 20px;
    color: #00abf0;
    font-family: 'poppins';
}
header{
   
    padding: 10px;
    color: #ededed;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.image{
    padding: 20px;
    margin: 0 auto;
    object-position: center;
    width: 240px;
    height: auto;
    text-align: center;
    border-radius: 50%;
}
.name{
    text-align: center;
    
}
footer{
    justify-content: center;
    display: flex;
    color:blue;
}
h2{
    color:#00abf0;
    margin-top: 10px;
    margin-bottom: 20px;
}
.body{
    margin-left: 100px;
}

